<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Class to a Character</title>
    <h1>Add a Class to a Character</h1>
</head>
<body>
<form action="" method="POST">
    <p>Choose Character
        <select name="chosen_name" method="GET" action="/">
            {% for char in characters %}
                <option value="{{char['name']}}">{{char['name']}}</option>
            {% endfor %}
        </select>
    </p>
    <p>Choose Class
        <select name="chosen_class" method="GET" action="/">
            {% for class in classes %}
                <option value="{{class['name']}}">{{class['name']}}</option>
            {% endfor %}
        </select>
    </p>
    <p><a href="{{ url_for('add_class_to_character') }}"><input type="submit" name="submit" value="Add" formmethod="POST"/></a></p>
</form>
<a href="{{ url_for('home') }}"><input type="button" value="Return to Home Page"></a>
</body>
</html>