<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Feat to Character</title>
    <h1>Add A Feat to a Character</h1>
</head>
<body>
<form action="" method="POST">
    <p>Character
        <select name="chosen_name" method="GET" action="/">
            <option hidden="">Choose Character</option>
            {% for char in characters %}
                <option value="{{char['name']}}">{{char['name']}}</option>
            {% endfor %}
        </select>
    </p>
    <p>Feat
        <select name="chosen_feat" method="GET" action="/">
            <option hidden="">Choose Feat</option>
            {% for feat in feats %}
                <option value="{{feat['name']}}">{{feat['name']}}</option>
            {% endfor %}
        </select>
    </p>
    <p><a href="{{ url_for('character_feat') }}"><input type="submit" name="submit" value="Add" formmethod="POST"/></a></p>
</form>
<a href="{{ url_for('home') }}"><input type="button" value="Return to Home Page"></a>
</body>
</html>