<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Feat to Character</title>
    <h1>Add A Feat to a Character</h1>
</head>
<body>
<form action="" method="POST">
    <p>Choose a Character
        <select name="chosen_name" name="characters" method="GET" action="/">
            <option hidden="">Choose Character</option>
            {% for char in characters %}
                <option value="{{char}}">{{char}}</option>
            {% endfor %}
        </select>
    </p>
    <p>Choose a Feat
        <select name="chosen_feat" name="feats" method="GET" action="/">
            <option hidden="">Choose Feat</option>
            {% for feat in feats %}
                <option value="{{feat}}">{{feat}}</option>
            {% endfor %}
        </select>
        <input type="submit" id="feat_details" value="View Feat Details"/>
    </p>
    <p>
        <div style="background: lightgray;
                    width: 50%;
                    height: 100px;
                    font-size: 15px;
                    padding: 10px;
                    border: 1px solid black;
                    margin: 10px;">
        Prerequisites: {{feat_prereq}}
        <p>Description: {{feat_description}}</p>
        </div>
    </p>
</form>
</body>
</html>