<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Character Feats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character_list.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-light bg-light">
             <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% for item in nav.campaign %}
                    <li class="{{ 'active' if item.is_active else '' }} nav-item">
                        <a class='nav-link' href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
        </div>
    </div>

    <h2> Campaigns </h2>

    <div class="row">
        {% for item in campaigns %}
        <div class="column">
            <div class="card">
                <h3>{{ item[0].name }}</h3>
                <p> Region: {{ item[0].region }}</p>
                <p> Number of Players: {{ item[0].num_players }}</p>
                <p> Number of NPCs: {{ item[0].NPCS }}</p>
            </div>
        </div>
        {% endfor %}
    </div>


</body>
</html>