<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Character Feats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character_list.css') }}">
</head>
<body>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}

    <h2> Campaigns </h2>

    <div class="row">
        {% for item in campaigns %}
        <div class="column">
            <div class="card">
                <h3>{{ item[0].name }}</h3>
                <p> Region: {{ item[0].region }}</p>
                <p> Number of Players: {{ item[0].num_players }}</p>
                <p> Number of NPCs: {{ item[0].NPCS }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</ul>
</body>
</html>