<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character_list.css') }}">
</head>
<body>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}

    <div class="row">
        {% for item in chars %}
        <div class="column">
            <div class="card">
                <h3>{{ item[0].name }}</h3>
                <p>{{ item[0].race }}</p>
                <p>{{ item[0].class }}</p>
            </div>
        </div>
        {% endfor %}
    </div>


</ul>
</body>
</html>