<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character_list.css') }}">
</head>
<body>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}

    <h2>Characters</h2>

    <p><b>Fastest Characters:</b></p>
    {% for char in fastest_chars %}
        <p>{{ char['name'] }}, Speed: {{ char['speed'] }}</p>
    {% endfor %}

    <p><b>Slowest Characters:</b></p>
    {% for char in slowest_chars %}
        <p>{{ char['name'] }}, Speed: {{ char['speed'] }}</p>
    {% endfor %}

    <div class="row">
        {% for item in chars %}
        <div class="column">
            <div class="card">
                <a href="{{ url_for('character_page', character_name = item[0].name ) }}"><h3>{{ item[0].name }}</h3></a>
                <p><b>Race: </b>{{ item[0].race }}</p>
                <p><b>Class: </b>{{ item[0].class }}</p>
                <p><b>Strength</b>: {{ item[0].strength }}</p>
                <p><b>Dexterity</b>: {{ item[0].dexterity }}</p>
                <p><b>Constitution</b>: {{ item[0].constitution }}</p>
                <p><b>Intelligence</b>: {{ item[0].intelligence }}</p>
                <p><b>Wisdom</b>: {{ item[0].wisdom }}</p>
                <p><b>Charisma</b>: {{ item[0].charisma }}</p>
            </div>
        </div>
        {% endfor %}
    </div>


</ul>
</body>
</html>