<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <h1>Welcome to Super D&Database!</h1>
    <h3>The Dungeons & Dragons Management System</h3>
    <h4>Created by Lawrence Hierlmeier, Pierce Dreiling, and Caleb Ramey</h4>
</head>
<body>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
</body>
</html> 