<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Races</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character_list.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <div class="navbar navbar-expand-lg navbar-light bg-light">
             <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% for item in nav.home %}
                    <li class="{{ 'active' if item.is_active else '' }} nav-item">
                        <a class='nav-link' href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h2> Races </h2>

        <div class="row">
            {% for item in races %}
            <div class="column">
                <div class="card">
                    <h3>{{ item[0].name }}</h3>
                    <p> Feats: {{ item[0].feats }}</p>
                    <p> Languages: {{ item[0].languages }}</p>
                    <p> Proficiencies: {{ item[0].proficiencies }}</p>
                    <p> Ability Score Increase: {{ item[0].AS_name }} +{{ item[0].AS_inc_val }}</p>
                    <p> Speed: {{ item[0].speed }}</p>
                    <p> Size: {{ item[0].size }}</p>
                    <a href="{{url_for('subrace_list', type=item[0].name)}}">View Subraces</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</body>
</html>